body {
  font-family: "Arial", Verdana;
  background-color: #000000;
  color: #ffffff;
  margin: 20px 20px 0px 20px;
}

h1 {
  font-size: 42px;
  text-align: center;
  padding: 15px;
}

h2 {
  font-size: 30px;
  color: #0d0d0d;
}

p {
  font-size: 24px;
  padding-top: 10px;
  padding-left: 10px;
}

img {
  width: 250px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 10px dashed #ffffff;
}

div {
  min-height: 125px;
  height: auto;
  border: 3px solid #ffffff;
  padding: 20px;
}

.introduction {
  border-radius: 15px;
  margin-top: 15px;
  line-height: 2;
}

.red {
  background-color: #ff0000;
  text-align: right;
  border: solid #ffffff;
  border-width: 0px 0px 2px 5px;
  margin-left: 50px;
}

.blue {
  background-color: #0000ff;
  text-align: left;
  margin-right: 50px;
  border-width: 2px 5px 0px 0px;
  color: #c4c4c4;
}

.blue > h2 {
  color: #c4c4c4;
}

.yellow {
  background-color: #ffff00;
  text-align: right;
  margin-left: 50px;
  border-width: 0px 0px 2px 5px;
  color: #707070;
}

.green {
  background-color: #008500;
  text-align: left;
  margin-right: 50px;
  border-width: 2px 5px 0px 0px;
}

footer {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 255, 1) 25%,
    rgba(0, 102, 255, 1) 70%,
    rgba(0, 0, 0, 1) 100%
  );
  border: 5px solid #ffffff;
}

footer > p {
  font-size: 20px;
  text-align: right;
  padding: 15px 15px 15px 0px;
}
